@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0f172a;
}

input {
  color: #475569;
  background-color:#0f172a;
  font-size: 0.75rem;
  outline: 1px solid #64748b;
  outline-offset: 4px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #475569;
  font-size: 0.75rem;
  padding-left: 10px;
}

button {
  color: #475569;
  font-size: 0.75rem;
  cursor: pointer;
  padding-left: 10px;

}
