@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer base {
  h1 {
    @apply font-bold text-2xl;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #171717;
}

input {
  color: #525252;
  background-color:#171717;
  font-size: 0.75rem;
  outline: 1px solid #525252;
  outline-offset: 4px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #525252;
  font-size: 0.75rem;
  padding-left: 10px;
}

button {
  color: #525252;
  font-size: 0.75rem;
  cursor: pointer;
  padding-left: 10px;

}
